body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h2 {
    font-size: large;
    margin: 8px;
}

h3 {
    font-size: xx-large;
    color: darkslategrey;
}

header {
    text-align: center;
    background-color:darkslategrey;
    color: #fff;
    padding: 60px 50px 50px 50px;
}

header div {
    width: 300px;
    margin: auto;
}

header img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 100%;
}

main {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
}

section {
    padding-bottom: 50px;
}

section:nth-child(odd) {
    background-color: bisque;
}

section .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    width: 300px;
    box-shadow: 0px 0px 8px 8px #7A7A7A;
    padding: 10px;
    border-radius: 5px;
    background-color:azure;
}

.card img {
    border-radius: 3px;
    width: 100%;
}

h4 > span {
    font-size: small;
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 3px;
}

.tags {
    display: flex;
    gap: 5px;
}

.tags span {
    font-size: small;
    font-weight: bold;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.links span {
    width: 20px;
}

#exercises h4 {
    text-align: left;
    margin-bottom: 0;
}

#exercises p {
    text-align: left;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

a:hover {
    text-decoration:underline;
}

footer {
    text-align: center;
    background-color:lightslategrey;
    padding-top: 50px;
    padding-bottom: 60px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 0;
}

ul li img {
    width: 50px;
}

footer p {
    padding-top: 40px;
    color: white;
    font-weight: bold;
}

