---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$script-font-family: 'Damion', cursive;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$header-color: #7ACCC8;
$footer-color: #E6EDEC;
$brand-color:      #7ACCC8;

$white-color: #FFF;
$green-color:       #028780;
$green-color-light: lighten($green-color, 40%);
$green-color-dark:  darken($green-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

#instafeed a img {
    border: 10px solid white;
    box-shadow: 0px 0px 25px 1px #999;
    margin: 10px;
    width: 27%;

    @include media-query($on-laptop) {
        width: 40%;
    }

    @include media-query($on-palm) {
        width: 90%;
    }
}

.portfolio {
    position: relative;
    margin-bottom: 10%;
    padding: 0 1em 0 1em;
}

.portfolio > img {
    box-shadow: 0px 0px 20px 0px rgba(179,179,179,1);
    border: 5px solid white;
    width: 100%;
    z-index: -1;
    position: relative;
}

.caption {
    background: rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    font-size: 1.3em;
    text-align: left;
    padding: 0 1em 0 1em;
}

.caption > p {
    margin: 0;
    padding: 0;
}

.caption > a:link {
    color: #fff;
    font-size: 0.6em;
}

.caption > a:hover,
.caption > a:focus {
    text-decoration: underline;
}

.caption > a:visited {
    color: #000000;
}